html{
  
    background-image: linear-gradient( to right, #9cbfd3 ,#987bb1, 
    #f26098, #ec9091);
    
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    border:  #ea4c89; 
    box-sizing: border-box;
}


body{
    margin:60px 80px;
    
    min-height: 100%;
    background-color: rgba(237,239,241,255);
    font-family:sans-serif;
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    box-sizing: border-box;
    border: solid rgba(237,239,241,255) ;
    border-radius: 15px;
    padding: 5px 10px;  
    box-shadow: black;

    
}

.cover{
    margin: auto;
    background-color: rgba(237,239,241,255);
    padding: 5px 5px;
    margin-bottom: 100px;
    width: 95%;
    
}

nav.nav {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}



div .name{
    font-weight: bold;
    position: relative;
    top: 2px;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    font-weight: 500;

}

ul{
    list-style: none;
}
    li {
        
        list-style-type: none;
    }
    a{
       
        text-decoration: none;
    }
    ul.navigation {
        display: flex;
    }
    
    ul.navigation li {
        margin-left: 25px;
    }
    
    ul.navigation li a {
        color: black;
    }
    
    ul.navigation li button {
        background-color: #1a1b1f;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        outline: none;
    }
    ul.navigation li button a{color: white;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-left: auto;
    }
    .intro{
        overflow: visible;
        max-width: 60%;
        margin-right: 30px;
        margin-bottom: 0;
        margin-left: 30p;
        padding-left: 50px;
        padding-right: 50px;
    }

  
    
    .intro-image img {
        width:  215px;
        border:0in;
        border-radius: 15px;
        display: flex;
        margin-right: 30px;
     }
    
    div.intro {
        
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px
    }
    
    div.intro-text {
        margin:0px 25px;
        width: 700px; 
        color: #000;
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: none;
        padding: 59px;
        text-align: left;
    }

    div .about {
        justify-content: space-between; /* horizontal plane */
        align-items: center; /* vertical plane */
    }
    
    div.about-text {
        margin: 0px;
        width: 520px; 
        color: #0d0c22;
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: none;
        padding-left: 80px;
        text-align: left;
    }



    div.about {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* horizontal plane */
        align-items: center; /* vertical plane */
    }
    
   .about-skills{
    align-items: center;
  
   }
    
    div.about-skills span {
        display: flex;
        text-align: center;
        padding-right: 150px;

       
       
    }
    
    .about-skills span li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
         padding-right: 10px;
        padding-left: 10px;
        text-transform: uppercase;
        border: 1px solid #9e9ea7;
        border-radius: 8px;
        padding: 2px;
        font-size: 13px;
        font-weight: bold;
    }

   